@-moz-keyframes spin {
  from { -moz-transform: rotateY(0deg); }
  to { -moz-transform: rotateY(359deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(359deg); }
}
@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(359deg);}
}

.basis {
  stroke: #aaa;
  stroke-width: 1;
  fill: transparent;
  transition: all 400ms;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -moz-animation-name: spin;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: alternate;
  -ms-animation-name: spin;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -ms-animation-direction: alternate;

  animation: spin 30s infinite linear;
  animation-direction: alternate;
  transform-origin: 50% 0%;

  &:hover {
    stroke: white;
    stroke-width: 2;
  }
}